body {
  margin: 0;
  font-family: SF UI Text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

p {
  margin: 0;
}
